<p>{{selectedCity}}</p>
<div *ngIf="!isLoading">
  <highcharts-chart
    [Highcharts] = "highcharts" 
    [options] = "chartOptions" 
    style = "width: 100%; height: 400px; display: block;">
  </highcharts-chart>
</div>
<div class="spinner-border" role="status" *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>