.home_header{
    background-color: rgb(98, 101, 239);
    color: white;
}
.title{
    font-size: 30px;
}
.card{
    border: 0;
    padding-bottom: 20px;
}
.card img{
    border-radius: 10px;
    height: 170px;
}
.city_time{
    position: absolute;
    right: 0;
    top: 142px;
    background-color: white;
    padding: 5px 13px;
    border-radius: 9px 0;
    font-size: 12px;
}
.p0{
    padding:0px;
}
.p5{
    padding:5px;
}
.card_details{
    font-size: 14px;
    margin-left: 10px;
}
.active{
    border: solid 1px rgb(98, 101, 239);
    margin: 5px;
    box-shadow: 0px 12px 22px 1px #333;
}
.cover-spin{
    position:absolute;
    width:100%;
    left:550px;
    top:550px;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}