<div class="container">
    <div class="jumbotron home_header">
      <h1 class="title">Weather Forecast</h1>
    </div>
    <div class="row" *ngIf="cities.length">
        <div class="col-md col-12 city_container" *ngFor="let city of cities">
          <div class="card">
            <img src="{{city.imageSrc}}" class="card-img-top" alt="{{city.name}}" 
                [ngClass]="{active: isActive(city.name)}"
                (click)="navigateToDetails(city)">
            <p class="city_time">{{city.time}}<span><i class="bi bi-sun-fill" style="color: orange;"></i></span></p>
            <div class="card-body p5">
               <h6 class="card-title">{{city.name}}</h6>
               <div class="row">
                <div class="col-md col-6">
                  <p>
                    <i class="bi bi-thermometer-low"></i>
                     <span class="card_details">{{city.minTemprature}}</span>
                  </p>
                  <p>
                    <i class="bi bi-thermometer-high"></i>
                    <span class="card_details">{{city.maxTemprature}}</span>
                  </p>
                </div>
                <div class="col-md col-6">
                  <p>
                    <i class="bi bi-sunrise"></i>
                    <span class="card_details">05:20</span>
                  </p>
                  <p>
                    <i class="bi bi-sunset"></i>
                    <span class="card_details">20:22</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
      <div class="spinner-border cover-spin" role="status" *ngIf="!cities.length">
        <span class="sr-only">Loading...</span>
      </div>
  </div>